<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CustomElemnets</title>
</head>
<body>
    <hello-world></hello-world>
</body>
<script>

class halo extends HTMLElement {
    constructor() {
        super();
        return;
    }
    connectedCallback() {
        console.log('done');
    }
}

customElements.define('hello-world', halo, {extends: 'div'});




</script>
</html>