<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StyleParint</title>
</head>
<body>
        <style class="deit" contenteditable="true" style="display:block; ">
            .deit {
                border:1px solid #ccc;
                outline:none;
            }
            body {
                padding:50px;
            }
        </style>

</body>
</html>